@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

    /* hero   */
    .hero-section {
        padding: 188px 0px;
    }

    .hero-header {
        margin: 0px auto 48px;
    }

    /* features */
}