@media screen and (min-width: 1200px) {

    /* commonstyles */

    .section-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-text-accent);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .container {
        max-width: 1158px;
    }

    /* header */



    /* hero   */

    .hero-section {
        padding: 188px 0px;
    }

    .hero-header {
        margin: 0px auto 48px;
    }

    .address-list {
        display: flex;
        gap: 40px
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* features */

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        gap: 24px;
    }

    .features-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }

    .features-icon {
        height: 112px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .features-section-subtitle {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-text-accent);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    /* doing */

    .doing-section {
        display: block;
        padding-bottom: 120px;
    }


    .doing-container {
        display: flex;
        justify-content: space-between;
    }

    /* team */

    .team-section {
        background-color: var(--color-text-unaccent);
        padding-top: 120px;
        padding-bottom: 120px;

    }

    .team-container {
        gap: 24px;
    }

    .team-card {
        flex-basis: calc((100% - 24px * 3) / 4);
    }

    /* costumers */

    .custumers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .costumers {
        gap: 24px;
    }


    .custumers-icon {
        width: calc((100% - 24px * 5) / 6);
    }

    /* footer */

    .footer-section {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: flex-start;
    }


    .footer-blocks {
        gap: 0;
        flex-wrap: nowrap;
        align-items: baseline;
    }


    .footer-studio {
        margin-right: 120px;
    }

    .footer-social {
        margin-right: 80px;
    }

    .footer-subscribe {

        gap: 24px;
    }


    .footer-input {
        width: 264px;
    }


    /* backdrop */

    .modal {

        min-height: 584px;

    }



    .modal-input-textarea {
        margin-bottom: 16px;
        padding: 8px 18px;
    }

    /* end */
}