body {
    background-color: var(--color-alternative);
    color: var(--color-text);
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0px 3px 3px 1px rgba(77,
                90,
                229, 0.14), 0px 3px 3px 1px rgba(77,
                90,
                229, 0.12), 0px 3px 3px 1px rgba(077,
                90,
                229, 0.2);
    }

    100% {
        box-shadow: 0px 3px 3px 1px rgba(64,
                75,
                191, 0.14), 0px 3px 3px 1px rgba(64,
                75,
                191, 0.12), 0px 3px 3px 1px rgba(64,
                75,
                191, 0.2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    letter-spacing: 0.02em
}

:root {
    --color-text: #434455;
    --color-main: #4d5ae5;
    --color-hover: rgb(64, 75, 191);
    --color-text-accent: #2E2F42;
    --color-text-unaccent: #F4F4FD;
    --color-alternative: #fff;
    --transition-type: cubic-bezier(0.4, 0, 0.2, 1);
}

/* common styles */

/* .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-text-accent);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-text-accent);
    letter-spacing: 0.02em;
}

.card-img {
    max-width: 100%;
    display: block;
}

.social-links {
    display: flex;
    gap: 24px;
}

.social-icon {
    height: 40px;
    width: 40px;

}

.social-icon-pic {
    fill: var(--color-text-unaccent);
}

.social-icon-link {
    width: 100%;
    background-color: var(--color-main);
    border-radius: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--color-hover);
    outline: none;
} */


/* header */








/* hero */








/* Features */



/* doing */



/* team */














/* custumers */










/* switcher */
.switcher-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.switcher-btn {
    padding: 12px 24px;
    font-weight: 500;
    background-color: var(--color-text-unaccent);
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--color-main);
    cursor: pointer;
    border-radius: 4px;
    border-width: 0;
    font-family: inherit;
    transition: color, box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.switcher-item:not(:last-child) {
    margin-right: 24px;
    outline: none;
}

.switcher-btn:hover,
.switcher-btn:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--color-hover);
    color: var(--color-text-unaccent);
    outline: none;
}

/* portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}


.link-portfolio {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    transition: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.portfolio-card-subscription {
    padding: 32px 0px 32px 16px;
    border: 1px solid #E7E9FC;

    border-top: none;
}

.link-portfolio:hover,
.link-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    outline: none;
}

.card-img-hover-thomb {
    position: relative;
    overflow: hidden;
}

.card-img-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-main);
    padding: 40px 32px;

    color: var(--color-text-unaccent);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    border-width: 0px;

    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}



.link-portfolio:hover .card-img-hover,
.link-portfolio:focus .card-img-hover {
    transform: translateY(-100%);
}

/* footer */



























/* backdrop */