@media screen and (min-width: 768px) {

    /* commonstyles */

    .container {
        max-width: 768px;
    }

    .section-subtitle {

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-text-accent);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    /* hero */

    .hero-section {
        padding: 112px 0px 108px 0px;
    }

    .hero-header {
        margin: 0px auto 40px;
        font-size: 56px;
        line-height: 1.07;
    }

    /* features */


    .features>.container {
        padding: 0 16px;
    }

    .features-list {
        gap: 72px 24px;
    }

    .features-section-subtitle {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-text-accent);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* doing */

    /* team */

    .team-section {
        padding-bottom: 104px;
    }

    .team-container {
        gap: 64px 24px;
    }

    .team-card {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* costumers */


    .costumers {
        gap: 72px 24px;
    }

    .custumers-icon {
        width: calc((100% - 24px * 2) / 3);
    }

    /* footer */



    .logo-footer {
        padding: 0;
    }

    .footer-section {
        text-align: left;
    }

    .footer-blocks {
        gap: 72px 24px;
        justify-content: start;
    }

    .footer-text {
        width: 264px;
        margin-top: 16px;

    }

    .footer-input {
        min-width: 264px;
    }

    .footer-social {

        justify-content: start;
    }

    .footer-social-discription {
        text-align: left;
    }

    .footer-subscribe {
        flex-wrap: nowrap;
        gap: 24px;
    }

    /* other properties */

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .team-section>.container {
            padding: 0 108px;
        }


        .footer-section>.container {
            padding: 0 108px;
        }

        .custumers-section>.container {
            padding: 0 108px;
        }
    }

    /* end */
}